
html,body{
  overflow: hidden; 
}

.searchbar{
    min-width: 500px;
    max-width: 500px;
    border-radius: 12px;
    background-color: white;
    padding: 8px;
   
  
}

.not-found{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;

}

.center-search{
  display: flex;
  justify-content: center;
}




.element{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mat-spinner{
  display: flex;
  justify-content: center;

}

.main {
  position: relative;
}

.main2 {
  display: flex;
  flex-direction: column;    /* si tu veux empiler tes <h1>, <h2>, <button>, etc. en colonne */
  justify-content: center;   /* centre verticalement */
  align-items: center;  
  padding-top: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.welcome-text {
  text-align: center;
  margin: 0.5rem 0 2rem;
}


.search-button {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding-top: 100px;
}

.logout-button {
  position: fixed;
  top: 16px;       
  right: 16px;        
  z-index: 1000;
}